<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="true">
    <serverUrls>
        <serverUrl url="http://localhost:6080/arcgis/services/wfstest/MapServer/WFSServer" matchAll="true"/>
        <serverUrl url="http://localhost:6080/arcgis/rest/services/" matchAll="true"/>
        <serverUrl url="http://localhost:6080/arcgis/services/HYTDZZ/MapServer/WFSServer" matchAll="true"/>
        <serverUrl url="http://localhost:6080/arcgis/rest/services/wfstest/MapServer" matchAll="true"/>
        <serverUrl url="http://localhost:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer" matchAll="true"/>
        <serverUrl url="http://19.16.240.232/DOM_PAD/wmts" matchAll="true"/>
        <serverUrl url="http://19.16.240.232/DOMDT_2014/wmts" matchAll="true"/>
        <serverUrl url="http://19.16.240.232/DLG_ZW2014/wmts" matchAll="true"/>
        <serverUrl url="http://19.16.240.232/tdxz2009/wmts" matchAll="true"/>
        <serverUrl url="http://19.16.240.232/JX_CUN/wmts" matchAll="true"/>
        <serverUrl url="http://19.18.93.24:6080/arcgis/rest/services/GD-GBZNT/GBNTYZT/MapServer" matchAll="true"/>
        <serverUrl url="http://19.18.93.24:6080/arcgis/rest/services/GD-GBZNT/GBNTYZTTemp/MapServer" matchAll="true"/>
        <serverUrl url="http://19.16.240.25:6080/arcgis/rest/services/ServerTD/TDXZ2016/MapServer" matchAll="true"/>
        <serverUrl url="http://localhost:6080/arcgis/rest/services/test/MapServer" matchAll="true"/>
        <serverUrl url="http://qhtest.youyuangis.com:6080/arcgis/rest/services/QHWebGis" matchAll="true"/>
        <serverUrl url="http://61.133.238.38:8081/OneMapServer/rest/services" matchAll="true"/>
        <serverUrl url="http://localhost:6080" matchAll="true"/>
        <serverUrl url="http://yfgbnt.youyuangis.com:6080/arcgis/rest/services/YFWebGIS/" matchAll="true"/>
        
    </serverUrls>
</ProxyConfig>
<!-- See https://github.com/Esri/resource-proxy for more information -->
